@import "../../../scss/variables.scss";
.button__container {
  display: flex;
  flex-direction: column;
  padding: 120px 50px 40px;
}

.text__container {
  display: flex;
  justify-content: center;
    margin-top: 50px;
}
.welcometext {
  display: block;
  text-align: center;
}
.button__item_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.randomLink {
  text-decoration: none;
  border:0;
}


.button__item {
  background-color: #E68E3D;
  border-radius: 40px;
  text-align: center;
  color: $white;
  border:0;
  padding: 10px 40px;
  cursor: pointer;
}
.welcometext{
  font-size: 24px;

}
