@import "../../../scss/variables.scss";
.button__container {
  display: flex;
  flex-direction: column;
  padding: 120px 50px 40px;
}

.text__container {
  display: flex;
  justify-content: center;
    margin-top: 50px;
}
.welcometext {
  display: block;
  text-align: center;
}
.button__item_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.randomLink {
  text-decoration: none;
  border:0;
}


.button__item {
  background: linear-gradient(to bottom right, #53ab3c, #b5ef2b);
// background: linear-gradient(217deg, rgba(158, 255, 0, 1), rgba(255,0,0,0) 70.71%),
//             linear-gradient(127deg, rgba(7, 173, 7, 1), rgba(0,255,0,0) 70.71%),
//             linear-gradient(336deg, rgba(23, 187, 8, 1), rgba(0,0,255,0) 70.71%);
  border: 0;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 20px 56px;
  text-align: center;
}
.welcometext{
  font-size: 24px;

}
