//Colors

//Aubergines
$darkaubergine: #1E171F;
$blueaubergine: #4F3050;
$redaubergine: #6F415D;

//Neutrals
$eggshell: #FEF7DF;
$grey: #A9A2A6;
$white: #fff;
$black: #000;

//Greens
$lightgreen: #88D899;
$midgreen: #73BF43;
$darkgreen: #3E7C38;


//Oranges
$darkorange: #F87A23;
$lightorange: #FFA252;

//Yellows
$paleyellow: #F9E27D;
