

//Colors
$grey: #a9a2a6;
$lightgrey:#ececec;
$darkgrey: #666;
$white: #fff;
$tinted-white: #fafaf9;
$black: #000;

$orange: #e68e3d;
$lightgreen: #73c344;
$mediumgreen: #4b863d;
$darkgreen: #374f35;
$aubergine: #6f415d;
