.header {
  background: $tinted-white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav {

}

.header__logo {
 color: $darkgreen;
}

.header__login {

}
