@import "../../../scss/variables.scss";

.header {
  background: $tinted-white;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2)
}

.header__inner_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
}

.header__nav {

}

.header__logo {
 color: $darkgreen;
 height: 100%;

}

.header__logo__svg {
 fill: $mediumgreen;
 height: 90%;

}

.header__login {

}
