@import "../../../scss/variables.scss";

.header {
  background: $tinted-white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header__nav {

}

.header__logo {
 color: $darkgreen;
 height: 100%;

}

.header__logo__svg {
 fill: $mediumgreen;
 height: 90%;

}

.header__login {

}
