@import "../../../scss/variables.scss";

.ingredient_heading {
  color: $darkgreen;
  font-size: 1.8em;
  font-weight: 900;
}

.ingredient__list {
  font-size: 1.2em;

  li {
    margin-bottom: 10px;
  }
}
